body {
    background-color: rgb(255, 255, 255) !important;
    font-family: "Public Sans", sans-serif;
    font-weight: 600;
}
:root {
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --gray: rgb(99, 115, 129);
    --light-gray: rgb(145, 158, 171);
    --blue: rgb(0, 167, 111);
    --red: rgb(255, 0, 0);
    --light-blue: rgb(51, 153, 255);
    --light-red: rgba(255, 99, 71);
    --transparent-black: rgba(0, 0, 0, 0.1);
    --transparent-gray: rgba(80, 80, 80, 0.01);
    --transparent-white: rgba(255, 255, 255, 0.3);
}
.dt-buttons .btn {
    margin-left: 0.333em;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

@media ((min-width: 768px)) {
    .c-main > .container-fluid,
    .c-main > .container-lg,
    .c-main > .container-md,
    .c-main > .container-sm,
    .c-main > .container-xl {
        padding-left: 60px;
    }
}

/*Scrollbar*/
.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:not(:hover) > .ps__thumb-y {
    height: 10% !important;
    width: 50% !important;
    background-color: #b4bcc3;
}
.ps--active-x > .ps__rail-x:hover,
.ps--active-y > .ps__rail-y:hover {
    background-color: white;
    color: #b4bcc1;
}
/* ***************************************
/*header*/
.c-header {
    padding-top: 10px;
    border: none;
}
.c-header-nav{
    font-size: 20px;
}
.c-header-toggler{
    text-align: left;
    border-radius: 50%;
    transform: translateX(-35px);
    z-index: 9999;
}

.c-header-nav-link:hover{
    border-radius: 50%;
    background-color: rgba(99, 115, 129, 0.08);
}
.main-search {
    border: none;
    background-color: white;
    color: rgb(99, 115, 129);
    user-select: none;
    font-weight: 300;
}
.main-search:focus {
    border: none;
    background-color: white;
    color: rgb(99, 115, 129);
    user-select: none;
    font-weight: 300;
    outline: none;
}
.un-clickable {
    cursor: not-allowed;
    pointer-events: none;
    border: none;
    background-color: white;
}
.K {
    height: 24px;
    min-width: 24px;
    line-height: 0;
    border-radius: 6px;
    cursor: default;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: capitalize;
    padding: 0px 6px;
    font-weight: 700;
    background-color: rgba(145, 158, 171, 0.16);
    font-size: 12px;
    color: rgb(99, 115, 129);
}
.toggleBtn {
    position: relative;
}
.toggleBtn i {
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    vertical-align: middle;
    appearance: none;
    text-align: center;
    flex: 0 0 auto;
    border-radius: 50%; /* Kusursuz yuvarlak için */
    color: rgb(99, 115, 129);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 0.625rem;
    padding: 8px 8px;
    top: 22px;
    border: 1px dashed rgba(145, 158, 171, 0.2);
    backdrop-filter: blur(6px);
}
.fa-bell {
    color: rgb(99, 115, 129);
}
.fa-sign-out-alt {
    color: RED;
}
.dropdown-item
{
     font-weight: 400;
     font-family:"Public Sans", sans-serif;
     border-radius:6px;
     line-height:1.57143;
     font-size:0.875rem;
     padding:6px 8px;
}
.c-header-nav .dropdown-item {
    min-width:150px !important;
    margin-top: 2px;
}
.dropdown-item svg
{
    margin-right: 10px;
    width: 1.75rem;
    height: 1.75rem;
 }
 .dropdown-header{
    color:rgb(99, 115, 129);
    font-weight:400;
    font-size:0.875rem;
    line-height:1.57143;
 }
 .avatar-menu .c-sidebar-nav-link{
    color:#212B36;
    font-size:0.87rem;
    line-height:1.57143;
    font-weight: 400;
    width: 70%;
 }
 .avatar-menu .c-sidebar-nav-link-exit{
    border-top: 1px dotted #ccc; 
    margin-left:21px;

 }   
 .avatar-menu .c-sidebar-nav-link-li
 {
    width: 155px;
    margin-left:16px

 }
 .avatar-menu .c-sidebar-nav-link-exit  .c-sidebar-nav-link{
    color:rgb(255, 86, 48);
    font-weight:700;
    padding-right: 0px !important;
    margin-right: 0px !important;
    width: 155px;
    margin-left: 0px !important;
    padding-left: 15px !important;
    margin-top: 2px;
 }
 .avatar-menu .c-sidebar-nav-link-li .c-sidebar-nav-link
{
margin-left:3px !important;
}
 .avatar-menu .c-sidebar-nav-link-li:hover
 {
    background-color: rgba(145, 158, 171, 0.1);
    border-radius: 6px;
 }
 .avatar-menu .c-sidebar-nav-link-exit  .c-sidebar-nav-link:hover{
    color:rgb(255, 86, 48);
    background-color: rgba(145, 158, 171, 0.1);
    border-radius: 6px;

 }
 
 .dropdown-header-name{
    font-weight:600;
    font-size:0.875rem;
    color: #212B36;
    margin-left:20px;

 }
 .dropdown-menu.show{
    box-shadow:rgba(145, 158, 171, 0.24) 0px 0px 2px 0px, rgba(145, 158, 171, 0.24) -20px 20px 40px -4px;
    width: 100%;
    margin-right: 15px;
    border-radius: 8px;
    backdrop-filter:blur(20px);

 }
 
/* ---------- SideBar ----------     */

/*Logo En üst*/
.c-sidebar .c-sidebar-brand,
.c-sidebar .c-sidebar-header {
    background-color: white;
    color: grey;
}
.c-sidebar-brand {
    background-color: rgb(255, 255, 255) !important;
}
.c-sidebar {
    background-color: rgb(255, 255, 255) !important;
    font-weight: 500;
    width: 266px !important;
    
}

.c-sidebar-nav {
    border-right: 1px dashed rgba(145, 158, 171, 0.2);
    padding-left: 16px;
    padding-right: 0px;
}
.c-sidebar-nav-item i::before {
    content: "\f111";
    /* content: "\f6aa"; */
    font-family: "Font Awesome 5 Free";
    color: #637381;
    background-color: #637381;
    border-radius: 50%;
    font-weight: 400;
    font-size: 0.18rem; /* Adjust the font size as needed */
    padding-bottom: 1px;
    padding-left: 1px;
    vertical-align: middle; /* En üste sabitlemek için */
}

.c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon,
.c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon,
.c-sidebar .c-sidebar-nav-dropdown-toggle,
.c-sidebar .c-sidebar-nav-link {
    color: #637381;
    transition: none; /* Transitionu kaldır */
}
.c-sidebar .c-sidebar-nav-dropdown-toggle::after {
    background-image: none;
}

.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon,
.c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
    color: rgb(33, 43, 54) !important;
    transform: none;
}
.c-sidebar-nav-link.c-active i::before {
    color: rgb(0, 167, 111);
    background-color: rgb(0, 167, 111);
}
.c-sidebar-nav-dropdown-items .c-sidebar-nav-link.c-active i::before {
    color: rgb(0, 167, 111);
    background-color: rgb(0, 167, 111);
    font-size: 0.35rem !important;
    border-radius: 80% !important;
}
.c-sidebar-nav-dropdown-toggle:hover i::before,
.c-sidebar .c-sidebar-nav-item-header:hover i::before {
    color: #637381;
}
.c-sidebar .c-sidebar-nav-dropdown.c-show {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(80, 80, 80, 1);
}

.c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-link {
    color: #637381;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle:hover,
.c-sidebar .c-sidebar-nav-link:hover {
    color: #637381;
    background: initial;
    background-color: rgba(145, 158, 171, 0.15);
    border-radius: 6px;
}

.c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-toggle,
.c-sidebar
    .c-sidebar-nav-dropdown.c-show
    .c-sidebar-nav-dropdown-toggle
    i::before {
    color: rgb(33, 43, 54);
    background-color: rgba(145, 158, 171, 0.08);
    border-radius: 6px;
    
}

.c-sidebar .c-sidebar-nav-dropdown-toggle::after {
    background-image: none !important;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-chevron-right%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M4.646%201.646a.5.5%200%200%201%20.708%200l6%206a.5.5%200%200%201%200%20.708l-6%206a.5.5%200%200%201-.708-.708L10.293%208%204.646%202.354a.5.5%200%200%201%200-.708%22/%3E%3C/svg%3E") !important;
    padding-left: 10px !important;
}

.c-sidebar-nav-item-header .c-sidebar-nav-link.c-active i::before {
    color: rgb(0, 167, 111) !important;
    background-color: rgba(0, 167, 111, 0.08) !important;
}
.c-sidebar-nav-item-header.c-active {
    background-color: rgba(0, 167, 111, 0.08) !important;
}
.c-sidebar-nav-item-header .c-sidebar-nav-link.c-active {
    color: rgb(0, 167, 111) !important;
    background-color: rgba(0, 167, 111, 0.08);
    border-radius: 6px;
}
.c-sidebar-nav-item-header .c-sidebar-nav-link.c-active i::before {
    color: rgb(0, 167, 111);
    background-color: rgba(0, 167, 111);
    border-radius: 6px;
}
.c-sidebar-nav-link.c-active {
    color: #212b36 !important;
}
.c-sidebar-nav-logo {
    padding: 30px 10px;
}

.main-logo {
    max-width: 60px;
}
/* ***************************************
   ---------- Tabs minimal ----------
*/
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: currentColor;
    font-weight: 600;
    background-color: #ffffff;
    /* border-color: #d8dbe0 #d8dbe0 #c4c9d0; */
}
.nav-tabs .nav-link,
a.nav-link {
    color: #768192;
    border-color: rgba(183, 183, 183, 0.9);
}

/*Cards Minimal*/
.card {
    border: 0px;
    margin-bottom: 5px ;
}

.card-table {
    border-radius: 0.5rem !important; /* Border radiusu daha keskin */
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1); /* Gri gölge efekti */
    padding: calc(var(--Grid-rowSpacing) / 2)
        calc(var(--Grid-columnSpacing) / 2);
    box-sizing: border-box;
    table-layout: auto; /* Optional: Adjust table layout as needed */

}
.dotted-border {
    border-top: 1px dotted #ccc;
    padding: 8px 0 10px;
}
.card-body {
    background-color: white;
    border-radius: 0.5rem !important; /* Border radiusu daha keskin */
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1); /* Gri gölge efekti */
    box-sizing: border-box;
    padding: 40px 50px 40px 30px;
}
.card-header {
    color: rgb(33, 43, 54);
    font-weight: 700;
    line-height: 1.55556;
    font-size: 1.5rem;
    margin: 0px 0px 8px;
    padding-left: 0px;
    border: 0px;
}
.card-body {
    font-size: 0.875rem;
}
.card .card-body .text-value {
    color: rgb(33, 43, 54);
    font-size: 2rem;
    font-weight: 700;
}
.card .card-body .text-header {
    font-weight: 600;
    line-height: 1.57143;
    font-size: 0.875rem;
    color: rgb(33, 43, 54);
}
/* ***************************************
   ---------- Datatable minimal ----------
*/
.dt-body {
    white-space: nowrap;
}
.dataTables_scroll {
    padding-bottom: 20px;
 width: 120%;
}

.dataTables_wrapper
    .dataTables_scroll
    div.dataTables_scrollBody
    > table
    > tbody
    > tr
    > td {
    vertical-align: middle;
    padding-top: 20px !important;
    padding-bottom: 30px;
}

table.dataTable {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse !important;
    /* border-spacing: 5em; */
}
@media (min-width:1200px) {
   tbody tr td:last-child {
        min-width: 210px !important; /* İstediğiniz minimum genişliği buraya yazın */
        max-width: 210px !important; /* İstediğiniz minimum genişliği buraya yazın */
    }
 
    thead tr td{
        max-width: 150px !important; /* İstediğiniz minimum genişliği buraya yazın */
        text-align: center !important;
        justify-content: center;
    }
 
}


@media (min-width:1200px) {
    ul tbody tr td:last-child {
         min-width: 10px !important; /* İstediğiniz minimum genişliği buraya yazın */
     }
 }
 
table,
th,
td {
    border: 0 !important;
}


table.dataTable thead tr {
    padding: 0;
    margin: 0;
    background-color: rgb(244, 246, 248);
}

table.dataTable thead th {
    padding-left: 10px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(99, 115, 129);
    white-space: nowrap;
    text-align: left;

}
.table-btn-margin{
    margin-left: 65px !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(80, 80, 80, 0.01);
}
.table-hover tbody tr {
    color: rgb(33, 43, 54);
    line-height: 1.57143;
    font-size: 0.875rem;
    font-weight: 400;
}
.table-hover tbody tr:hover {
    background-color: rgb(244, 246, 248);
    color: rgb(33, 43, 54);
}

td {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1) !important;
}

table {
    border-collapse: collapse !important;
    border: 20px !important;
}

td .btn-primary {
    color: #321fdb;
    margin: 0px !important;
}
td .btn-primary:hover {
    background-color: initial !important;
    color: rgba(50, 31, 219, 0.6) !important;
}

td .btn-primary:before {
    content: "\f06e";
}

td .btn-info {
    color: #39f;
    padding-left: 11px;
    padding-top: 2px
}
td .btn-info:hover {
    background-color: initial !important;
    color: rgba(51, 153, 255, 0.5) !important;
}
td .btn-info:before {
    content: "\f040";
    width: 250px;
    height: 250px;
}

td .btn-danger {
    color: #e55353;
}
td .btn-danger:hover {
    background-color: initial !important;
    color: rgba(229, 83, 83, 0.6);
}

td .btn-danger:before {
    content: "\f1f8";
}

td .btn-info:hover,
td .btn-danger:hover,
td .btn-primary:hover {
    border: none;
    transform: none !important;
    font-weight: 500;
    border: none;
    line-height: 0px;
}
td .btn-info:active,
td .btn-danger:active,
td .btn-primary:active {
    line-height: 0px;
    font-weight: 500;
}
td .btn-info:focus,
td .btn-danger:focus,
td .btn-primary:focus {
    line-height: 0px;
    font-weight: 500;
    color: inherit !important;
    background-color: inherit !important;

}
td .btn-info,
td .btn-danger,
td .btn-primary {
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    transition: none !important;
    border: none;
    line-height: 0px;
}
td .btn-danger:before,
td .btn-info:before,
td .btn-primary:before {
    font-family: FontAwesome;
    font-size: 17px;
    font-weight: 500;
}
td .btn-danger:focus,
td .btn-info:focus,
td .btn-primary:focus {
    box-shadow: none !important;
    outline: none;
    font-weight: 500;
    border: none;
    transform: none !important; /* Hover durumunda transformu devre dışı bırak */
}
td .btn-danger,
td .btn-info,
td .btn-primary {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    font-family: "Public Sans", sans-serif;
}

.emergency {
    border-color: rgba(255, 0, 0, 0.1);
    border-style: dotted;
    border-left: 7px solid red;
}
.dataTables_length .custom-select {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_N1nHa3hb0cnVn24zQPy6wHITNgbENByeJw&s') no-repeat right center;
    background-size: 10px 5px;
    background-position:35px;
  }
  
 

/* ***************************************
   ---------- Form minimal ----------
*/
.form-control {
    color: rgb(50, 50, 50); /* Daha koyu bir renk */
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    padding: 16.5px 0px 16.5px 14px;
    cursor: pointer;
    border-radius: 0.5rem; /* Border radiusu daha keskin */
    text-overflow: ellipsis;
}

.form-control::placeholder {
    color: rgb(50, 50, 50); /* Daha koyu bir renk */
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    text-overflow: ellipsis;
}
.form-control:hover {
    color: black; /* Yazı rengi siyah */
    border-color: black !important; /* Border rengi siyah */
    box-shadow: 0 0 0 0.01rem rgba(0, 0, 0, 0.82); /* Siyah gölge efekti */
}

.form-control:focus {
    color: black;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 0.07rem rgba(0, 0, 0, 0.82);
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
}
.form-control-sm[type="search"] {
    position: relative;
    padding: 14.5px 26px 16.5px 12px;
}
.form-control-sm[type="search"]::placeholder {
    content: "Search..."; /* Placeholder metni */
    color: #999; /* Placeholder rengi */
}
.form-group{
    padding: 15px 10px 10px 10px; 
}

.form-control:disabled, .form-control[readonly] {
    background-color: #F9F9F9 !important;
}

.dropzone {
    border: 1px dashed rgba(145, 158, 171, 0.2) !important;
    background-color: #F9FAFA!important;
    border-radius: 5px;
}
.dropzone:hover{
    background-color: rgba(249, 250, 250, 0.4)!important;

}
.dropzone span:first-child {
 color: #212B36;
 font-size: 1.125rem;
 font-weight:700;
}
.dropzone p{
    color: #637381;
    font-size:0.875rem;
}
.dropzone p a{
    color: #00A76F !important;
    text-decoration: underline !important;
}
.dropzone .dz-message {
    margin: 0.8em !important;
}
 /*Search*/
div.dataTables_wrapper div.dataTables_filter input
{
    padding: 20px 0 20px 30px;
    margin-right: -350px !important;
}
table.dataTable thead > tr > th.sorting_desc:first-child {
    padding-left: 15px !important;
  }
div.dataTables_wrapper div.dataTables_filter input::placeholder
{
  padding-left:5px;
}
div.dataTables_wrapper div.dataTables_filter label{
    font-size: 0px;
}

input[type="search" i] {
  appearance: auto;
  box-sizing: border-box;
  padding-block: 1px;
  padding-inline: 2px;
  appearance: none;
  -webkit-appearance: none; /* Safari ve Chrome desteği için */
  -moz-appearance: none; /* Firefox desteği için */
  padding-left: 30px; /* Sol tarafta boşluk bırakmak için */
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw6dk7omKm0_uFS5GJbDqszFezNaqFk8aOABSnfBVHCcucQ92mIPkVZ0fFZt8HLSl0npM&usqp=CAU') no-repeat left center; /* Arama simgesi */
  background-position: 10px center; /* Arama simgesinin sola 10px uzak olmasını sağlar */
  background-size: 1em;
  margin-right: 10px !important;

}
/*Select İnput*/
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: rgb(50, 50, 50);
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    margin-right: 7px;
    height: 49px;
}

.select2-container .select2-selection--single {
    height: 55px;
    padding: 8px;
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
}
.select2-container--default .select2-selection--single:hover {
    border-color: black !important;
    box-shadow: 0 0 0 0.01rem rgba(0, 0, 0, 0.82);
}

.select2-container--default .select2-selection--single:focus {
    color: black;
    background-color: #fff;
    border-color: black !important;
    outline: 0;
    box-shadow: 0 0 0 0.04rem rgba(0, 0, 0, 0.82);
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
}
.select2-search__field {
    outline: 1px solid #ced4da !important;
    border-radius: 5px !important;
}

.select2-container--default .select2-results>.select2-results__options
{
    max-height:40vh !important;
    color:rgb(33, 43, 54) !important;
    line-height:1.5 !important;
    font-size:1rem !important;
    backdrop-filter:blur(20px) !important;
    background-color:rgba(255, 255, 255, 0.9) !important;
    box-shadow:rgba(145, 158, 171, 0.24) 0px 0px 2px 0px, rgba(145, 158, 171, 0.24) -20px 20px 40px -4px !important;
    padding-left: 2px !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    backdrop-filter:blur(20px) !important;
    background-color:rgba(255, 255, 255, 0.9) !important;
    box-shadow:rgba(145, 158, 171, 0.24) 0px 0px 2px 0px, rgba(145, 158, 171, 0.24) -20px 20px 40px -4px !important;
    color:rgb(33, 43, 54) !important;

}
.select2-container--default .select2-results>.select2-results__options:hover
{
    color:rgb(33, 43, 54) !important;

}
.select2-results__option{
    padding-left:10px !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border:solid black 1.5px !important;
    outline: 0px !important;
    border-radius:8px !important;
    box-shadow: 0 0 0 1.5px black;

}
.select2-container--default .select2-selection--multiple{
    border-color: #d8dbe0;
}
.select2-container--default .select2-selection--multiple:hover{
    color: black; /* Yazı rengi siyah */
    border-color: black !important; /* Border rengi siyah */
    box-shadow: 0 0 0 0.01rem rgba(0, 0, 0, 0.82); /* Siyah gölge efekti */
}
.select2-container--default .select2-selection--multiple .select2-selection__choice
{
    color:#006c9c !important;
    font-size:0.8125rem !important;
    background-color:rgba(0, 184, 217, 0.16) !important;
    font-weight:500 !important;
    border-radius:6px !important;
    border: none !important;
    margin-top:12px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice:hover
{
    color:rgb(0, 108, 156)!important;
    background-color:rgba(0, 184, 217, 0.16)!important;
 
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
{
    color:#006c9c !important;
    font-size:0.9rem !important;
    border-radius:6px !important;
    border: none !important;
    margin-right:4px !important;
    padding:4px !important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color:rgba(145, 158, 171, 0.16) !important;
    border-radius:6px !important;

}
.select2-search__field{
    outline:none!important;
    padding-top: 4px !important;
    margin-top: 12px !important;
}
element.style{
    width: 0px !important;
}
.select2-search--dropdown .select2-search__field{
    padding-left: 30px !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus{
    border: 2px solid black !important;
 }
 /*Editor Text Field*/

 .ck.ck-reset_all, .ck.ck-reset_all *{
    border-color: #d8dbe0 !important;
    background-color: white !important ;

 }
 .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners{
    border-color: #d8dbe0 !important;
    border-radius: 5px !important;

 }
 .date {
    background: url('https://cdn-icons-png.freepik.com/512/8132/8132223.png') no-repeat right center;
    background-size: 20px; 
    -webkit-appearance: none; /* Safari ve Chrome desteği için */
    -moz-appearance: none; /* Firefox desteği için */
    background-position: right 15px center;
}

.table-condensed{
    font-size:0.75rem;
    width:46px;
    height: 46px;
    font-weight:400;
    justify-content:center;
    align-items:center;
    border: 0px;
    color: #1C252E;
    background-color: transparent;
    line-height: 1.5 !important;
}
.day.today {
    color:#1C252E;
    background-color: white;
    border: 1px solid #1C252E !important;
    border-radius: 50% !important;
}
.day.today::before {
   border: none !important;
}
 
.bootstrap-datetimepicker-widget table td.active{
    color:#1C252E;
    background-color: #007867 !important;
    border: 1px solid #1C252E !important;
    border-radius: 50% !important;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
    color:#1C252E;
    background-color: rgba(0, 167, 111, 0.08) !important;
    border: 1px solid #1C252E !important;
    border-radius: 50% !important;
}
.day.active{
    color:#1C252E;
    background-color: rgba(0, 167, 111, 0.08) !important;
    border: 1px solid #1C252E !important;
    border-radius: 50% !important;
}

.bootstrap-datetimepicker-widget table td.day{
    height: 10px;
    width: 10px;
}

.datepicker td
{
    border: none !important;
}
.bootstrap-datetimepicker-widget table {
    height: 5px;
}
/*Button Minimal*/
.btn-excel {
    background-color: rgba(17, 141, 87) !important;
}
.btn-excel:hover {
    background-color: rgba(17, 141, 87, 0.78) !important;
}
.btn-csv {
    background-color: rgba(51, 153, 255) !important;
}
.btn-csv:hover {
    background-color: rgba(51, 153, 255, 0.75) !important;
}
.btn-print {
    background-color: rgba(255, 171, 0) !important;
}
.btn-print:hover {
    background-color: rgba(255, 171, 0, 0.75) !important;
}
.btn-excel,
.btn-csv,
.btn-print {
    color: white;
    border-radius: 8px !important;
    font-size: 0.875rem !important;
    font-weight: 600 !important;
    padding: 6px 12px !important;
    background-color: rgba(17, 141, 87)
}
.btn-excel:hover,
.btn-excel:focus,
.btn-csv:hover,
.btn-csv:focus,
.btn-print:hover,
.btn-print:focus {
    color: white;
    border-radius: 8px !important;
    font-size: 0.875rem !important;
    font-weight: 600 !important;
    padding: 6px 12px !important;
    outline: none;
    box-shadow: none;
}
.btn-excel i,
.btn-csv i,
.btn-print i {
    padding-right: 15px;
    font-weight: 600;
}


/* pagination  btn */
.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-radius: 0.25rem;
    margin-left: 0.333em;
    color: #006c9c;
    border-color: #006c9c !important;
}
.page-link:not(:disabled):hover,
.page-link:not(.disabled):hover {
    color: white !important;
    background-color: rgba(0, 108, 156, 0.9);
}
li.active .page-link {
    color: white !important;
    background-color: rgba(0, 108, 156, 1);
}
.page-link:not(:disabled):focus,
.page-link:not(.disabled):focus {
    outline: none;
    box-shadow: none;
}

div.dataTables_wrapper div.dataTables_paginate{
    position: absolute;
    margin-left: 15%;
}
.dataTables_length {
    padding: 5px 5px 5px 25px;
    margin-left: 55px !important;
}
div.dataTables_wrapper div.dataTables_info /*Shows data in the table*/
{
    display: none;
}
div.dataTables_wrapper div.dataTables_length label
{
    font-weight: 600;
}
.dataTables_length
{
    padding: 5px 5px 5px 5px;
}
.pagination > *:not(:first-child):not(:last-child) .page-link {
    border-radius: 50%; /* Tam bir yuvarlak */
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 5%; /* İçeriği dikey olarak tam ortala */
    max-width: 30px;
    max-height: 30px;
    margin-top: 2px;
}
.btn-primary,
.btn-success,
.btn-danger,
.btn-light {
    background-color: rgb(33, 43, 54);
    color: white;
    border: none !important;
    outline: none;
    box-shadow: none !important;
    line-height: 1.71429;
    font-weight: 700;
    font-size: 0.875rem;
    padding: 6px 12px;
    border-radius: 8px;
}
.btn-danger{
    background-color: rgb(33, 43, 54) ;
    color: white ; 
    border: none !important;
    outline: none;
    box-shadow: none !important;
    line-height: 1.71429;
    font-weight: 700;
    font-size: 0.875rem;
    padding: 6px 12px;
    border-radius: 8px;
}
.btn-success:hover,
.btn-danger:hover,
.btn-light:hover,
.btn-success:focus,
.btn-danger:focus,
.btn-light:focus,
.btn-success:active,
.btn-danger:active,
.btn-light:active {
    background-color: rgb(69, 79, 91) !important;
    color: white;
    border-color: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-info{
    color: white;
    border: none !important;
    outline: none;
    box-shadow: none !important;
    line-height: 1.71429;
    border-radius: 8px !important;
}
.btn-outline-primary{
    padding:6px 12px !important;
    border-radius: 8px !important;
    color: rgb(151, 151, 151) !important;
    background-color:transparent !important;
    border:rgb(151, 151, 151) 1px solid ;
}
.btn-outline-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary:focus
{
    background-color: rgb(255,255,255) !important;
    color: rgb(224, 219, 219);
    border-color: none !important;
    outline: none !important;
    box-shadow: none !important;
    border: rgb(224, 219, 219) 1px solid !important;
}
.btn-success::before{
    content: "+";
    font-weight: bolder;
    font-size: 16px;
    margin-right: 5px;
}
.btn-success{
    margin-top: 15px;
    margin-bottom: 10px;
}
 .btn-primary i{
    margin-left: 5px;

 }
 .btn-primary{
    background-color: #038ea7
 }
 .btn-primary:hover,
.btn-primary:focus,
.btn-primary:active
{
    background-color: #03a4c0 !important;
    color: white;
    border-color: none !important;
    outline: none !important;
    box-shadow: none !important;
}
 .btn-default{
    background-color: #eff0f1;
    color: #212B36;
    font-weight: bold;
    font-size: 0.875rem;
    padding: 12px 24px;
    border-radius: 8px;
    border: none !important;
    outline: none;
    box-shadow: none !important;
 }
 .btn-default::before{
    content: "\f060";
    font-family: FontAwesome;
    font-weight: 100;
    margin-right: 5px;
    color: #2c3238; 
 }
.input-group-append .btn-primary{
    background-color: rgb(216, 216, 224) !important;
 }
/*Notification*/
.badge-warning{
    background-color: #FF5630;
    color: white;
    font-weight:500;
    font-size: 0.75rem;
    border-radius: 50%;
    padding: 3px 6px;
    margin-top:-20px !important;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: white !important;
}
.dropdown-item a{
    color: rgb(2, 122, 82) !important;

}
/*Login*/
.welcome-div{
    background-color: #faf8f8;
    height: 100vh;
}
.welcome-text {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    text-align: center; /* Metni ortalar */
    font-size:2rem;
    color: black;
}
.welcome-under-text{
    text-align: center;
    color:#637381;
    font-size:1rem;
    font-weight: 400;
    font-family: 'Segoe UI', sans-serif;

}
.dashboard-img{
    max-width: 100px;
    padding-top: 2vh;
    padding-bottom: 12vh;
}
.dashboard-hero-img {
    display: flex;
    justify-content: center;  
    align-items: center;  
}
.login-alt-img{
    display: flex;
    justify-content: center;
    align-items: center; }  
.sign-text{
    font-size:1.20rem;
    font-weight: 700;
    color: rgb(37, 37, 37);
    }
.sign-under-text{
    color: #637381;
    font-weight: 400;
    }
    .info-icon{
        max-width: 30px;
        color: #00B8D9;
    }
    .login-info-div{
        background-color: #CAFDF5;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
    }
    .login-info{
        padding:8px 0px;
        font-weight: 400;
        font-size: 0.775rem;
        line-height:1.5;
    }
    .login-info strong{
        color: #003768;
    }
    .login-card-body {
        min-width: 400px;
    }
    
    @media (max-width: 992.98px) {
        .login-card-body {
            min-width: 300;
        }
    
    }
    @media (max-width: 450px) {
        .login-card-body {
            min-width: 200px;
        }
    }

    /*Show*/
tbody tr th{
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1) !important;
    color: black;
} 
tbody tr th::after{
    content: ":";
}

/*minimals tabs*/
 .nav-tabs{
    border-bottom:none !important;
    margin-bottom:30px !important;
}
.nav-tabs .nav-link{
    font-size:0.875rem;
    color: #637381;
    border: none !important;
    font-weight: 600;
    align-items:center;
    justify-content:center;
}
.nav-tabs .nav-link.active{
    font-size:0.875rem;
    color: #1C252E;
    border-bottom: 2px solid black !important;
    font-weight: 700;
} 

.nav-tabs .nav-link::after{
  content: "\f107";
  font-family: FontAwesome;
padding-left: 5px;
} 
.nav-tabs .nav-link.active::after{
    content: "\f106";
    font-family: FontAwesome;
    color: #1C252E;
    padding-left: 5px;

  } 

/*calender*/
.fc-day-header{
    font-weight:600;
    font-size: 0.875rem;
    line-height:1.57143;
    padding:13px 0px !important;
    color: #1C252E;
}
thead tr {
    border-top: 1px solid #E4E7EB !important;

}
.fc-day-top {
    border: 1px solid #E4E7EB !important;
    height: 22vh;
    width: auto;
}
.fc-today-button{
    background-color: #FF5630 !important;
    color: white !important;
    opacity:1 !important;
}
.fc-unthemed td.fc-today{
    background-color: #F6F7F8!important;
}

.fc-row .fc-content-skeleton {
    padding-bottom:0px !important;
}

/*Modal*/
.modal-content{
    border-radius: 12px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.modal.show{
    background-color: rgba(75, 85, 94, 0.4); /* Hafif gri arka plan rengi (örnek) */
}
.modal-content button {
    margin-left: auto;
    display: block; /* Butonların blok olarak yerleştirilmesini sağlar */

}
/*Activity*/
.activity-title{
    font-weight: bold;
    font-size: 18px;
    color: #212B36;
}
.activity-info{
color: #637381;
font-weight:600;
}
.activity-desc{
    color: #212B36;
    margin-top: 15px;
    font-weight:600;
    }
 
 
     
      body  .show-header{ 
    color: #637381 !important;
    font-size: 0.875rem !important;
    line-height:1.57143 !important;
    margin:0px 0px 4px;
    padding-left: 15px;
      }
    
      .show-header-text{
        padding-left: 36px !important;
        color: #1C252E !important;
        font-size: 0.875rem !important;
        font-weight:600;

      }
      
      .show-desc-header{
        color:#1C252E;
        font-weight:600;
        margin-top:24px;
        margin-bottom:8px;
        font-size:1.125rem;
      }
      .show-header-desc-text{
        color:#1C252E;
        font-size: 1rem;
        line-height:1.5;
        font-weight:400;
      }
      
      
      
      .form-group label {
        position: absolute;
    top: 6px;
    left: 40px;
    background-color: white !important;
    z-index: 25;
    font-size: 0.75rem;
    font-weight: 600;
     color: #637381 ;
     padding: 0 4px;
}

      .select2-container--default.select2-container--disabled .select2-selection--single {
        cursor: default !important;
        color: rgb(145, 158, 171) !important;
        background-color: #F9F9F9 !important;
      }
      .form-control:disabled, .form-control[readonly] {
        cursor: default !important;
        color: rgb(145, 158, 171) !important;
    }
    .select2-container--disabled .select2-selection--single .select2-selection__rendered {
        color: rgb(145, 158, 171) !important;
    }
    .radio-btn-header{
        font-weight: 600 !important;
        font-size:0.875rem !important;
        line-height: 1.57143 !important;
        color: #1C252E !important;
    }
  .radio-btn-text{
    font-weight: 400 !important;
    font-size:0.875rem !important;
    line-height: 1.57143 !important;
    color: #1C252E !important;
  }
  .radio-btn{
    margin-top: 25px !important;
  }
  @media (max-width: 1810px) {
    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: calc(90% - 30px) !important;
    }

}
@media (max-width: 1310px) {
    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: calc(90% - 120px) !important;
    }

}
@media (max-width: 1150px) {
    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: calc(90% - 130px) !important;
    }
 
}
@media (max-width: 690px) {
    div.dataTables_wrapper div.dataTables_filter input {
        display: block !important;
        margin-left: 0px !important;
    }
}
/*table last childs*/
/* table.dataTable thead > tr > th.sorting:last-child {
    max-width: 100px !important;
  }
  table.dataTable tbody tr td:last-child {
      width: 0px !important;
      max-width: 0px !important;
  } */