.dt-buttons .btn {
    margin-left: 0.333em;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-radius: .25rem;
    margin-left: 0.333em;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
}
table,
th, td {
    border: 0 !important;
}

table.dataTable thead tr {
    /* border-bottom: 1px solid #000000 !important; */
    padding: 0;
    margin: 0;
    /* border-radius: 3px !important; */
    background-color: rgb(238, 240, 255);
}

table.dataTable thead th {
    font-weight: 500;
    font-size: small;
    color: #001909;
    white-space: nowrap;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(80, 80, 80, 0.01);
}

.table-hover tbody tr:hover {
    color: #00137b;
}

td {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.05) !important;
}

table {
    border-collapse: collapse !important;
}

/* 
.navbar-brand for your business, goods, or project name.
.navbar-nav for a navigation.
.navbar-toggler for use with our collapse plugin.
.form-inline for any forms.
.navbar-text for any text.
*/

.c-sidebar .c-sidebar-brand, .c-sidebar .c-sidebar-header {
    background-color: white;
    color: grey;
}
.c-sidebar {
    background-color: #ebedef;
}
.c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon,
.c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link {
    color: rgba(80, 80, 80, 1);
    background: 0 0;
}
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link.c-active {
    color: #00137b !important;
    background-color: rgb(238, 240, 255);
}
 
.c-sidebar .c-sidebar-nav-dropdown-toggle {
    /* color: rgba(80, 80, 80, 1); */
    background: rgba(0,0,0,.05);
}
.c-sidebar .c-sidebar-nav-dropdown.c-show {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(80, 80, 80, 1);
}
.c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-link {
    color: #332b2b;
}